*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cofi-mashina{
  list-style: none;
}

.cofi{
  text-decoration: none;
  color: #333;
  font-family: Roboto,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header{
width: 100%;
display: flex;
justify-content: space-between;
}

ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 27px;

}
#header{
  background: #F3D7B7;
}

.img-kofi{
  margin: 17px;
}

.img-cofi{
  width: 500px;
  height: 500px;
margin-right: 100px;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-cofi{
  width: 447px;
  color: #000;
  font-family: Roboto,sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
margin-right: 20px;
}

.kofi-text{
  color: #000;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-style: normal;
  width: 464px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.tetx{
    margin-left: 100px;
}

.img-big{
position: relative;
}

.img-box{
position: absolute;
left: -100px;
top: -60px;
}

.ota-kofi{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 300px;
}

.kofi-soz{
  color: #333;
  font-family: Roboto,sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
}

.cofi-mayin{
  width: 453px;
  color: #333;
  font-family: Roboto,sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
}
.kofi-main{
  background: #C99B67;
  width: 1515px;
  height: 503px;

}

.kjf{
  color: #000;
  text-align: center;
  font-family: Roboto,sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
  margin-bottom: 50px;
}

.div-cofi{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ndjs{
  color: #FFF;
  text-align: center;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  width: 600px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.djcj{
  color: #FFF;
  text-align: center;
  font-family: Roboto,sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
}

.cofi-img{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jsdhf{
  color: #333;
  font-family: Roboto,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  width: 300px;
margin-bottom: 300px;
}



.tyu{
  color: #333;
font-family: Roboto,sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
font-variant: all-small-caps;
}

.ert{
  margin-bottom: 24px;
}

.lkrge{
  background: #0A775F;
  width: 1515px;
  height: 900px;
}

.box-ewq{
  width: 1515px;
  height: 200px;
}

.ndf{
  width: 1511px;
  height: 400px;
}

.cofi-rasm {
  transition: all .5s ease-in;
}

.cofi-rasm:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.kofi-btn{
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #0A775F;
}